:root {
    --main-color: navy;
    --white: #fff;
}
html {

}

h2 {
    text-align: center;
    font-family: 'Stick', cursive;
}

.instructions {
    text-align: center;
    color: #fff;
}

body {
    background-color: #999;
    align-content: center;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: var(--main-color);
    color: #fff;
    margin: 0px;
    padding: 10px 20px 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
}

#title {
    font-family: 'Stick', cursive;
}

#time-remaining {
    font-family: 'PT Mono', monospace;
    font-size: 20px;
    font-weight:900;

}

#timerBlock {
    text-align: center;
    border-radius: 25px;
    padding: 0px 10px;
    background-color: #fff;
    color: var(--main-color);
    font-weight: 400;
    font-size: 10px;
    line-height: 5px;
    display: none;
    min-height: 38px;
}

#quizBlock {
    display: none;
}

#scoreBlock {
    display: none;
}
main {
    padding: 100px 20px 20px 20px;
    min-height: 100%;
}

footer {
    background-color: var(--main-color);
    color: #fff;
    margin: 0px;
    padding: 15px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.card {
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    border-radius: 25px;
    border-color: var(--main-color);
    border-style: solid;
    border-width: 15px;
}